<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="js/functions.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Home - Order Page</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
        </ul>
    </div>
</nav>
<div class="full-width">
    <form method="post">
        <div class="form-group">
            <input name="id" type="number" class="form-control" id="id-input" placeholder="ID" autofocus required>
        </div>
        <div class="form-group">
            <input name="charging_id" type="number" class="form-control" id="id-charging" placeholder="Charging ID" required>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="radio" name="mode" value="0" onclick="enableSlider()" required>
                </div>
            </div>
            <p class="form-control">Super Charging <span style="float: right">⚡⚡⚡️</span></p>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="radio" name="mode" value="1" onclick="enableSlider()">
                </div>
            </div>
            <p class="form-control">Standard Charging <span style="float: right">⚡⚡️</span></p>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="radio" name="mode" id="flex-charging-radio" value="2" onclick="enableSlider()">
                </div>
            </div>
            <p class="form-control">Flex Charging <span style="float: right">⚡️</span></p>
        </div>
        <div class="slidecontainer" id="slider-container">
            <input name="slider" type="range" min="1" max="24" value="1" class="slider" id="myRange" oninput="updateSlider(this)">
            <p id="hours-counter" class="hours-counter" align="center">Hours: 1</p>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">Confirm Order</button>
    </form>
</div>
</body>
</html>