.menu-img {
    display: block;
    width: 10%;
    margin-left: 2px;
}
.full-width {
    width: 90%;
    margin: 20px auto;
}

.slidecontainer {
    width: 100%;
    display: none;
    text-align: center;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background: #d3d3d3;
    outline: none;
    border-radius: 10px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    background: #007bff;
    cursor: pointer;
    border-radius: 50%;
}

.hours-counter {
    width: 100%;
}

.remaining-charge-container {
    width: 90%;
    border: 1px solid #707070;
    margin: 0 auto;
}

.p-to-bold > p {
    font-weight: bold;
}

.footer-dashboard {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.footer-dashboard > p {
    font-weight: bold;
}

.green-bg {
    background-color: #4BAD00;
    color: white;
    font-weight: bold;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.border-1grey {
    border: 1px solid #707070;
}

.small-text {
    font-size: 10px;
}